
@{
    ViewBag.Title = "Chat";
}

<p id="showStatus" style="color:green"> </p>
<div class="container">
    My Name: <input type="hidden" id="displayname" readonly /><span id="myName">NA</span><br />
    Friend Name: <input type="text" id="frndConnId" /><br />
    Messge<input type="text" id="message" /><br />
    <input type="button" id="sendmessage" value="Send" /><br />

    <hr />
    <h1>Send Message</h1>
    <ul id="discussionSend"></ul>
    <hr />
    <h1>Receive Message</h1>
    <ul id="discussionReceive"></ul>
</div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var chat = $.connection.chatHub;
            // Declare a proxy to reference the hub.
            var counter = $.connection.hitCounter;

            chat.client.addNewMessageToPage = function (from, message, to) {

                if (from == $('#displayname').val()) {
                    $('#discussionSend').append('<li>From: <b>' + htmlEncode(from)
                        + '</b> -> To: <b>' + htmlEncode(to) + '</b>;; Message' + htmlEncode(message) + '</li>');
                }

                if (to == $('#displayname').val()) {
                    $('#discussionReceive').append('<li>From: <b>' + htmlEncode(from)
                        + '</b> -> To: <b>' + htmlEncode(to) + '</b>;; Message' + htmlEncode(message) + '</li>');
                }
                
            };

            $('#displayname').val(prompt('Enter your name:', ''));
            $('#myName').html($('#displayname').val());

            $('#message').focus();

            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {

                    chat.server.sendFromTo($('#displayname').val(), $('#message').val(), $('#frndConnId').val());

                    $('#message').val('').focus();
                    // Call the Send method on the hub.
                    counter.server.send();
                });
            });

            counter.client.recalculateOnlineUsers = function (message) {
                
                $('#showStatus').text(message);
            };
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}
